.panel-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-wrapper { 
  z-index: 99999;
  position:fixed;
  right:0;
  left:30%;
  bottom:10%;
  overflow:hidden;
  width:60%;
  font-family:sans-serif;
}

.panel-controller {  
  position:relative;
  overflow:hidden;
  width:100%;
}

.tab-controller { 
  float:left;
  margin-left:5vw;
  padding-right:10px;
  padding-left:10px;
  background-color:#e5f1fe;
  cursor: pointer;
  -webkit-border-radius:10px 10px 0 0;
  -moz-border-radius:10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

.tab-controller .show { 
  display:none;
}

.panel-content { 
  overflow:hidden;
  width:100%;
  border-width: 1px;
  border-color: #c41b1b;
  border-style: solid;
  background-color:transparent;
}