@media (max-width: 1200px) and (min-width: 991px){
    #btRun{
      max-width: 10%;
    }
    #btStopCode{
      max-width: 10%;
    }
    #btConnect{
      max-width: 10%;
    }
    #btDocuments{
      max-width: 10%;
    }
    #btCode{
      max-width: 10%;
    }
    .picoBricksSimulator{
      margin-left:1rem;
      max-width: 5.5rem;
    }
    #navbarResp{
      max-width: 50%;
    }
    #editorType{
      color: white; 
      margin: 5px;
      font-size: 12px;
    }
    #sliderResp{
      margin-left:5.8rem !important;
    }
    #simulatorResp{
      margin-left: 0rem !important;
    }
    #langSelect {
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
