vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Oct 2019 12:55:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|MONSTER\\kerem
vti_modifiedby:SR|MONSTER\\kerem
vti_timecreated:TR|17 Oct 2019 12:55:16 -0000
vti_cacheddtm:TX|17 Oct 2019 12:55:16 -0000
vti_filesize:IR|3834
vti_cachedlinkinfo:VX|S|//ssl.gstatic.com/closure/hsv-sprite.png S|//ssl.gstatic.com/closure/hsv-sprite.gif S|//ssl.gstatic.com/closure/hsv-sprite-sm.png S|//ssl.gstatic.com/closure/hsv-sprite-sm.gif
vti_cachedsvcrellinks:VX|NSUS|//ssl.gstatic.com/closure/hsv-sprite.png NSUS|//ssl.gstatic.com/closure/hsv-sprite.gif NSUS|//ssl.gstatic.com/closure/hsv-sprite-sm.png NSUS|//ssl.gstatic.com/closure/hsv-sprite-sm.gif
vti_backlinkinfo:VX|maxibot3/closure-library/closure/goog/demos/hsvpalette.html
