/* The Modal (background) */
.modal-custom {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(93,160,254); /* Fallback color */
  background-color: rgba(93,160,254,0.9); /* Black w/ opacity */
  z-index: 999;
}

/* Modal Content */
.modal-content-custom {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close-custom {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-custom:hover,
.close-custom:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header-custom {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body-custom {padding: 2px 16px;}

.modal-footer-custom {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


@media (max-width:1300px) {
    #deneme {
        max-width: 350px;
        margin-top: 20%;
        left: -100px;
    }

}

@media (max-width:800px) {
    #deneme {
        max-width: 300px;
        margin-top: 20%;
    }
    #freshworks-container {
        display: none;
    }

}



@media (max-width:1100px) {
    #btDocuments {
        max-width: 60px;
    }
    #btCode {
        max-width: 60px;
    }
    #btStopCode {
        max-width: 60px;
    }
    #btRun {
        max-width: 60px;
    }
    #btConnect {
        max-width: 60px;
    }

}
